<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ygq.sample">

    <application
        android:name="com.ygq.sample.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.ygq.sample.ConstraintStateActivity"
            android:label="@string/title_activity_constraint_state" />
        <activity
            android:name="com.ygq.sample.LinearStateActivity"
            android:label="@string/title_activity_linear_state" />
        <activity
            android:name="com.ygq.sample.FrameStateActivity2"
            android:label="@string/title_custom_setting" />


        <activity
            android:name="com.ygq.sample.FrameStateActivity"
            android:label="@string/title_global_setting" />
        <activity android:name="com.ygq.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>